{% extends 'html/essay/base.html' %}

{% load static %}
{% block content %}
<main style="background-color: #fff;height: 500px;">
   <table style='margin:20px; padding:20px;'>
        <thead>
   	<tr>
   		<th>Username</th>
   		<th>Ticket Type</th>
   		<th>Price</th>
   		<th>Total Amount</th>
   		<th>Total Income
   	</tr>  
        </thead>
   	{% for row in data %}
   	<tr>
   		{% for col in row %}
   		<td> {{col}}</td>
   		{% endfor %}
   	</tr>
   	{% endfor %}
        <b>
        <tr>
	<th>All</th>
	<th>All</th>
	<th>Total</th>
        {% for tot in total %}
        <th>{{tot}}</th>
        {% endfor %}
        </b>
        </tr>
   </table>
</main>
<style>
table {
  border-collapse: separate;
  border-spacing: 1em 0.5em;
  background-color: #ddd;
}
</style>
{% endblock %}