{% extends 'html/badges/base.html' %}


{% block content %}
<form id="form"> 
    <div id="name">
      <label for="name">Name</label>
      <input type="text" id="name" name="user_name">
    </div>
    <br>
    
    <div id="email">
      <label for="mail">E-mail</label>
      <input type="email" id="mail" name="user_mail">
    </div>
      <br>
  
    <div>
      <label for="msg">Company:</label>
      <input type='tel' id="tel" name="user_tel">
    </div>
      <br>
  
    <div>
      <label for="interest">Badge</label>
      <textarea id="interest" name="user_interest"></textarea>
    </div>
      <br>
    
    
    <br>
    <div>
  
  </form>
  <a onclick="createfield()" type="button" class="btn btn-primary"> 
      Create Database
  </a>
{% endblock %}